  <td><h1><%= @location.street %></h1></td>
  <td><%= @location.street2 %></td>
  <td><%= @location.city %></td>
  <td><%= @location.state %></td>
  <td><%= @location.zip %></td>
  <td><%= @location.phone %></td>
  <td><%= @location.nick %></td>
